---
import Mainlayouts from '../layouts/mainLayout.astro';
import contact from "/public/contact.png"

---
<Mainlayouts>
	<div class="relative mx-12 flex flex-col items-center justify-center" >
		<h1 class="text-xl pb-6">
			Feel free to <span id="scribble" class="font-bold" >Contact Us!</span>
		</h1>
		<div>
			<img src='contact.png' alt="picture of contact" />
		</div>
		<div class="relative">
			<p id="anim-p" class="p-6 text-lg">
				
			</p>
		</div>
	</div>
</Mainlayouts>