---
import Mainlayouts from '../layouts/mainLayout.astro';
import campus from"/campus.jpeg"
---
<Mainlayouts>
    <div class="relative mx-12 flex flex-col items-center justify-center" >
		<h1 class="text-xl pb-6">
			Our <span id="scribble" class="font-bold" >Campus</span>
		</h1>
		<div>
			<img src='campus.jpeg' alt="picture of University" />
		</div>
		<div class="relative">
			<p id="anim-p" class="p-6 text-lg pb" >
                    1. CHENG-KUNG CAMPUS<br>
                    2. SHENG-LI CAMPUS<br>
                    3. KUANG-FU CAMPUS<br>
                    4. CHIEN-KUO CAMPUS<br>
                    5. TZU-CHIANG CAMPUS<br>
                    6. CHING-YEH CAMPUS<br>
                    7. LI-HSING CAMPUS<br>
                    8. KUEI-JEN CAMPUS<br>
                    9. AN-NAN CAMPUS<br>
                    10. DOU-LIU CAMPUS<br>
			</p>
		</div>
	</div>
</Mainlayouts>