---
import Nav from "../components/Nav.tsx"
import Mainlayouts from '../layouts/mainLayout.astro';

---
<Mainlayouts>
	<div class="relative mx-12 flex flex-col items-center justify-center" >
		<h1 class="text-xl pb-6">
			Know More About <span id="scribble" class="font-bold" >NCKU!</span>
		</h1>
		<div>
			<img src='ncku1.jpeg' alt="picture of University" />
		</div>
		<div class="relative">
			<p id="anim-p" class="p-6 text-lg ">
				<span id="scribble" class="font-bold" >National Cheng Kung University</span> was originally established under Japanese colonial government in January 1931 as the Tainan Technical College. After the Japanese handover of Taiwan in October 1945, the school was renamed to Taiwan Provincial Tainan Junior College of Technology in March 1946, and then to Taiwan Provincial College of Engineering in October the same year.

When the government of the Republic of China moved to Taiwan in 1949, it was one of the three existing colleges in Taiwan. As the number of colleges expanded, it was upgraded to a provincial university in 1956 as Provincial Cheng Kung University,[9] named after Koxinga, a Chinese military leader who drove the Dutch East India Company from Taiwan and founded the Kingdom of Tungning. In 1971, the university became a national university and was renamed to <span id="scribble" class="font-bold" >National Cheng Kung University</span>.

Former Minister for Education Wu Jin served as the first president of the <span id="scribble" class="font-bold" >National Cheng Kung University</span>.
			</p>
		</div>
	</div>
</Mainlayouts>
