---
import ncku1 from "/public/ncku1.jpeg"
---
<div class="relative mx-12 flex flex-col items-center justify-center" >
    <h1 class="text-xl">
        Enter NCKU's Doodle-Dazzled <span id="scribble" class="font-bold" >Intro!</span>
    </h1>

</div>